<ul>
    <% cart.each do |product| %>
      <li><%= product %></li>
    <% end %>
</ul>

<%= form_tag('/', method: :post) do %>
    <label>Product</label>
    <input type="text" name="product">
    <input type="submit" value="add to cart">
<% end%>